{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_body %}
    {{ parent() }}
    <div class="academy-plugin-content">
        <h1>Hello World from Academy Plugin</h1>
    </div>
{% endblock %}
