{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block content_main_inner %}
    <!-- MyCustomTheme index template is working -->
    <div data-my-custom-theme-plugin="true">
        {{ parent() }}
    </div>
{% endblock %}